<h1>Display all information about Recipe </h1>
<ul>
  <li><%= @recipe.name %></li>
  <li><%= @recipe.ingredients %></li>
  <li><%= @recipe.directions %></li>
  <li><%= @recipe.difficulty %></li>
  <li><%= @recipe.prep_time %></li>
</ul>
