<!DOCTYPE html>
<html>
  <head>
    <title>RecipeManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
  </head>

  <body>

    <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">
        <ul class="nav navbar-nav">
          
          <li><%=link_to "Home", static_index_path%></li>
          <li><%=link_to "New User", new_user_registration_path%></li>
          <li><%=link_to "Log in", new_user_session_path%></li>
          <li><%=link_to "Sign Out", destroy_user_session_path %></li>
          
        </ul>


      </div>
    </div>
    </header>


    <%= yield %>
  </body>
</html>
